/*  MILESTONE PROJECT 3 by MIKHAILA BURGESS
    "HONEY BEE"
    - - - - - - - - - - - - - - - - - - - - 
    Site-specific styles.
*/

/* COLOR PALETTE ------------------------------------------- */
:root {
    --honey: #ffd340; /* #EBC000 */
    --lighthoney: rgb(255, 211, 64, 0.8);
    --dark: #4A3100;
    --green: #006E62;
    --grey: #DFE0DF;
    --shadow: #A18F65;
    --site-font: #3D3004;

    --primary: #a18f65;
    
    --secondary: #DFE0DF;
    --pale: #fff9ec;
    
}


/* SITE IMAGES ---------------------------------------------- */
.sunflower {
    background-image: url("../img/sunflower.jpg");
}

.apiary {
    background-image: url("../img/apiary.jpg");
}

.newbee {
    background-image: url("../img/newbee.jpg");
}

.hive-frame {
    background-image: url("../img/frame.jpg");
}

.honeycomb {
    background-image: url("../img/honeycomb-background.jpg");
}

/* .dripping-honey {
    background-image: url("../img/dripping-honey.jpg");
    max-width: 100%;
    height: auto;
    opacity: 0.5;
} */


/* IMAGE EFFECTS -------------------------------------------- */
.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    filter: drop-shadow(0px 8px 10px var(--shadow));
    -webkit-filter: drop-shadow(0px 8px 10px var(--shadow));
}

.parallax-large {
    min-height: 250px;
    max-height: 300px;
}

.parallax-small {
    min-height: 150px;
    max-height: 200px;
}

/* HTML ELEMENT STYLES  ------------------------------------- */

h1, h2, h3, p {
    color: var(--site-font);
}

p, btn {
    font-size: 14px;
}

/* .site-button-honey {
    color: var(--site-font);
    padding: 15px 25px;
    border-radius: 100px;
    background-color: var(--honey);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    border: 0;
} */


.site-button-small {
    color: var(--site-font);
    padding: 8px 16px;
    background-color: var(--lighthoney);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    /* font-size:medium; */
    border: 0;
}

.btn {
    background-color: var(--honey);
    cursor: pointer;
}
.btn:hover {
    background-color: var(--grey);
}
.site-button-small:hover {
    background-color: var(--pale);
}

/* Button style adapted from https://getcssscan.com/css-buttons-examples ('button 90') */
.site-button-primary {
    color: var(--site-font);
    padding: 15px 25px;
    border-radius: 100px;
    background-color: var(--honey);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    /* font-size: 16px; */
    border: 0;
}

.site-button-secondary {
    color: var(--green);
    padding: 15px 25px;
    border-radius: 100px;
    background-color: var(--lighthoney);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    /* font-size: 16px; */
    border: 0;
}

/* CSS */
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: var(--site-font);
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* PAGE HEADER  --------------------------------------------- */

.heading-text-block {
    position: relative;
    color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    /* border-radius: 20px;
    padding: 10px; */
    /* padding-bottom: 15px; */
    background: rgb(240, 233, 27); /* Fallback/solid color */
    background: rgba(255, 211, 64, 0.5); /* Background with 0.5 opacity */
    filter: drop-shadow(0px 8px 10px var(--shadow));
    -webkit-filter: drop-shadow(0px 8px 10px var(--shadow));
}

/* NAVIGATION BAR  ------------------------------------------- */

.navbar-custom,
.dropdown-menu,
.dropdown-item,
.offcanvas-header, 
.offcanvas-body {
    /* background-color: #EBC000; */
    background-color: var(--honey);
    color: var(--site-font);
 }

 /* .flash-messages {
    background-color: var(--secondary);
 } */


 

/* Still to be styled */
.feature-icon {
    /* font-size: x-large;
    color: darkorange;
    width: 4rem;
    height: 4rem;
    border-radius: .75rem; */
}


input, select, textarea {
    margin-bottom: 0.5rem;
}

/* SIGN IN FORM (inspired by Bootstrap Sign In Example) */
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* REGISTRATION FORM */
.form-register {
    max-width: 500px;
    padding: 1rem;
}

/* NEW HIVE FORM */
.form-new-hive {
    max-width: 500px;
    padding: 1rem;
}

.form-new-hive {
    margin-bottom: 0.5rem;
}

/* SITE TABLES */
.hives-table, .apiaries-table {
    vertical-align: middle;
}

.hives-table th, 
.apiaries-table th {
    text-align: center;
}

.hives-table td, 
.apiaries-table td {
    text-align: left;
}

th, td {
    padding: 5px;
}

.placeholder-img {
    max-width: 70vh;
    max-height: 50vh;
    height: auto;
}

.sub-heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* HIVE INSPECTION FORM */
.form-hive-inspection label {
    padding: 2px 5px;
}

.form-hive-inspection input {
    padding: 2px 5px;
}

.form-hive-inspection .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: var(--green);
    cursor: pointer;
}

.custom-range::-moz-range-thumb {
    border: 0;
    background: var(--green);
    cursor: pointer;
}

.custom-range::-webkit-slider-thumb:active {
    background-color: var(--dark);
}

.custom-range::-webkit-slider-runnable-track {
    background-color: var(--honey);
}

.custom-range:hover {
    opacity: 0.8;
}

/* SITE FOOTER */
.site-footer {
    padding-top: 20px;
    font-size: small;
}
