/*  MILESTONE PROJECT 3 by MIKHAILA BURGESS
    "HONEY BEE"
    - - - - - - - - - - - - - - - - - - - - 
    Site-specific styles.
*/

/* - COLOR PALETTE ------------------------------------ */
:root {
    --honey: #EBC000; /* #EBC000 */
    --primary: #A18F65;
    --secondary: #DFE0DF;
    --pale: #FFF9EC;
}

.sunflower {
    background-image: url("../img/sunflower.jpg");
}

.apiary {
    background-image: url("../img/apiary.jpg");
}

.newbee {
    background-image: url("../img/newbee.jpg");
}

.hive-frame {
    background-image: url("../img/frame.jpg");
}

.honeycomb {
    background-image: url("../img/honeycomb-background.jpg");
}

.dripping-honey {
    background-image: url("../img/dripping-honey.jpg");
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}


.navbar-custom,
.dropdown-menu,
.offcanvas-header, 
.offcanvas-body {
    /* background-color: #EBC000; */
    background-color: var(--honey);
 }

 .flash-messages {
    background-color: var(--secondary);
 }

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}

.parallax-large {
    min-height: 350px;
    max-height: 400px;
}

.parallax-small {
    min-height: 200px;
    max-height: 300px;
}

/* Still to be styled */
.feature-icon {
    /* font-size: x-large;
    color: darkorange;
    width: 4rem;
    height: 4rem;
    border-radius: .75rem; */
}


input, select, textarea {
    margin-bottom: 0.5rem;
}

/* SIGN IN FORM (inspired by Bootstrap Sign In Example) */
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

/* .form-signin .form-floating:focus-within {
    z-index: 2;
} */

.form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* REGISTRATION FORM */
.form-register {
    max-width: 500px;
    padding: 1rem;
}

/* .form-register .form-floating:focus-within {
    z-index: 2;
} */

/* .form-register input{
    margin-bottom: 0.5rem;
} */

/* NEW HIVE FORM */
.form-new-hive {
    max-width: 500px;
    padding: 1rem;
}

.form-new-hive {
    margin-bottom: 0.5rem;
}

/* .form-new-hive input, 
.form-new-hive select{
    margin-bottom: 0.5rem;
} */

/* .form-new-hive .form-floating:focus-within {
    z-index: 2;
} */

.hives-table {
    vertical-align: middle;
    text-align: center;
}

th, td {
    padding: 5px;
}

.placeholder-img {
    max-width: 70vh;
    max-height: 50vh;
    height: auto;
}

.sub-heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.site-footer {

}