{% extends "base.html"%}

{% block header %}
<section id="add-apiary-header">
    <div class="parallax parallax-small banner-image-top sunflower">
        <div class=" heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Apiary Management</h2>
            <p class="lead">Add New Apiary</p>
            <br>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="add-apiary-container">
    <!-- ** ADD APIARY FORM ** -->
    <div class="container">
        <div class="sub-heading">
            <h2 class="feature-icon"><i class="material-icons">hive</i> Add New Apiary</h2>
        </div>

        <div class="form-new-apiary w-100 m-auto">
            <form method="POST" action="{{ url_for('add_apiary') }}">

                <!-- enter apiary name location -->
                <div class="form-floating">
                    <input type="text" class="form-control" id="apiary" name="apiary" placeholder="apiary" required>
                    <label for="apiary">Apiary</label>
                </div>

                <!-- enter description (optional) -->
                <div>
                    <textarea class="form-control" id="apiary-description" name="apiary-description"
                        placeholder="Description (optional)" rows="5"></textarea>
                </div>

                <!-- form buttons -->
                <div class="d-grid gap-2 gap-md-5 d-md-flex justify-content-center">
                    <button class="btn site-button-secondary px-5" type="reset"><i class="material-icons">cancel</i>
                        Clear Form</button>
                    <button class="btn site-button-primary px-5" type="submit"><i class="material-icons">add_box</i> Add
                        Apiary</button>
                </div>

            </form>
        </div>
    </div>
</section>

<section>
    <div class="parallax parallax-small banner-image-bottom sunflower">
</section>

{% endblock %}