{% extends "base.html"%}

{% block header %}
<section id="add-hive-header">
    <div class="parallax parallax-small sunflower">
        <div class="heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Hive Management</h2>
            <p class="lead">Add New Hive</p>
            <br>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    <section id="add-hive-container">
        <!-- ** ADD HIVE FORM ** -->
        <div class="container">
            <div class="sub-heading">
                <h2 class="feature-icon"><i class="material-icons">hive</i> Add New Hive</h2>
            </div>

            <div class="form-new-hive w-100 m-auto">
                <form method="POST" action="{{ url_for('add_hive') }}">

                    <!-- enter hive location -->
                    <div class="form-floating">
                        <select class="form-select" id="apiary" name="apiary" aria-label="Select apiary">
                            <option value="unspecified" selected>Unspecified</option>
                            {% for apiary in session.apiaries %}
                            <option value="{{ apiary }}">{{ apiary }}</option>
                            {% endfor %}
                        </select>
                        <label for="apiary">Apiary</label>
                    </div>

                    <!-- enter hive reference -->
                    <div class="form-floating">
                        <input type="text" class="form-control" id="reference" name="reference" placeholder="reference">
                        <label for="reference">Reference</label>
                    </div>

                    <!-- enter hive type -->
                    <div class="form-floating">
                        <select class="form-select" id="hiveType" name="hiveType" aria-label="Select type of beehive">
                            <option value="unspecified" selected>Select type of hive</option>
                            <option value="BS National">BS National</option>
                            <option value="Flow Hive">Flow Hive</option>
                            <option value="Langstroth">Langstroth</option>
                            <option value="Skep">Skep</option>
                            <option value="WBC">WBC</option>
                            <option value="Other">Other</option>
                        </select>
                        <label for="hiveType">Type of Hive</label>
                    </div>

                    <!-- enter bee type -->
                    <div class="form-floating">
                        <select class="form-select" id="bees" name="bees" aria-label="Select type of honey bee">
                            <option value="unspecified" selected>Select bee species</option>
                            <option value="Buckfast">Buckfast</option>
                            <option value="Welsh Black">Welsh Black</option>
                            <option value="Buzzy">Buzzy</option>
                            <option value="Scary">Scary</option>
                            <option value="Other">Other</option>
                        </select>
                        <label for="bees">Bees</label>
                    </div>

                    <!-- queen type -->
                    <div class="form-floating">
                        <select class="form-select" id="queenColor" name="queenColor" aria-label="current queen">
                            <option value="Blue">Blue (0 or 5)</option>
                            <option value="White">White (1 or 6)</option>
                            <option value="Yellow">Yellow (2 or 7)</option>
                            <option value="Red">Red (3 or 8)</option>
                            <option value="Green">Green (4 or 9)</option>
                        </select>
                        <label for="queenColor">Queen Color</label>
                    </div>

                    <!-- description -->
                    <div>
                        <textarea id="hiveDescription" name="hiveDescription" class="form-control" 
                            rows="5" placeholder="Description (optional)" >
                        </textarea>
                    </div>

                    <!-- form buttons -->
                    <div class="d-grid gap-2 gap-md-5 d-md-flex justify-content-center">
                        <button class="btn site-button-secondary px-5" type="reset">Clear Form</button>
                        <button class="btn site-button-primary px-5" type="submit">Add Hive</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
    {% endblock %}