{% extends "base.html"%}

{% block header %}
<section id="apiary-management-header">

    <div class="parallax parallax-small honeycomb">
        <div class="heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Apiary Management</h2>
            <p class="lead">View All Apiaries</p>
            <br>
        </div>
        
    </div>
</section>
{% endblock %}

{% block content %}
<section id="apiary-management-container">
    <div class="container">
        <div class="sub-heading">
                <h2 class="feature-icon"><i class="material-icons">hive</i> Apiaries for Beekeeper <em>{{ session["user"]|capitalize() }}</em></h2>
        </div>

        <!-- ** VIEW ALL HIVES ** -->
        {% if apiaries|length > 0 %}
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered hives-table">
                <thead>
                    <tr>
                        <th scope="col" hidden>ID</th>
                        <th scope="col">Apiary</th>
                        <th scope="col">Description</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                
                <tbody class="table-group-divider">
                    {% for apiary in apiaries %}
                    <tr id="{{ apiary._id }}">
                        <td class="column0" hidden>{{ apiary._id }}></td>
                        <td class="column1">{{ apiary.apiary|capitalize }}</td>
                        <td class="column2">{{ apiary.description }}</td>
                        <td class="column3">
                            {% if session.user|lower == apiary.beekeeper|lower %}
                            <a href="{{ url_for('edit_apiary', apiary_id=apiary._id)}}" class="btn site-button-small selected-apiary">Edit</a>
                            <a href="{{ url_for('delete_apiary', apiary_id=apiary._id)}}" class="btn site-button-small selected-apiary">Delete</a>
                            {% endif %}
                            <!-- <input type="button" value="Edit" class="selected-apiary" />
                            <input type="button" value="Delete" class="selected-apiary" /> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <p ></p>
        </div>
        {% else %}
        <h3>No Apiaries Found</h3>
        {% endif %}
    </div>

    <!-- ** OPTION BUTTONS ** -->
    <div class="container">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <!-- <a class="btn btn-secondary btn-sm px-4 gap-3 disabled" href="{{ url_for('placeholder') }}" role="button">Edit Apiary</a> -->
            <a class="btn site-button-primary btn-sm px-4 gap-3" href="{{ url_for('add_apiary') }}" role="button">Add New Apiary</a>
        </div>  
    </div>

    <!-- TEMPORARY SECTION - for displaying selected row -->
    <div id="selected"> </div>

    
</section>
{% endblock %}