{% extends "base.html"%}

{% block header %}
<section id="edit-hive-header">
    <div class="parallax parallax-small sunflower">
        <div class="heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Hive Management</h2>
            <p class="lead">Edit Hive Details</p>
            <br>
        </div>
    </div>
{% endblock %}

{% block content %}
<section id="edit-hive-container">
    <!-- ** EDIT HIVE FORM ** -->
    <div class="container">
        <div class="sub-heading">
            <h2 class="feature-icon"><i class="material-icons">hive</i> Edit Hive</h2>
        </div>
   
        <div class="form-update-hive w-100 m-auto">
            <form method="POST" action="{{ url_for('edit_hive', hive_id=hive._id) }}">
                
                <!-- enter hive location -->
                <div class="form-floating">
                    <select class="form-select" id="apiary" name="apiary" aria-label="Select apiary">
                        <option value="{{ hive.apiary }}" selected>{{ hive.apiary }}</option>
                        <option value="unspecified">Unspecified</option>
                        {% for apiary in session.apiaries %}
                        <option value="{{ apiary }}">{{ apiary }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- enter hive reference -->
                <div class="form-floating">
                    <input type="text" class="form-control" 
                        id="reference" name="reference" placeholder="reference"
                        value="{{ hive.reference }}">
                    <label for="reference">Reference</label>
                </div>

                <!-- enter hive type -->
                <div class="form-floating">
                    <select class="form-select" id="hiveType" name="hiveType" aria-label="type of beehive">
                        <option value="{{ hive.hiveType }}" selected>{{ hive.hiveType }}</option>
                        <option value="BS National">BS National</option>
                        <option value="Flow Hive">Flow Hive</option>
                        <option value="Langstroth">Langstroth</option>
                        <option value="Skep">Skep</option>
                        <option value="WBC">WBC</option>
                        <option value="Other">Other</option>
                    </select>
                    <label for="hiveType">Type of Hive</label>
                </div>

                <!-- enter bee type -->
                <div class="form-floating">
                    <select class="form-select" id="bees" name="bees" aria-label="Select type of honey bee">
                        <option value="{{ hive.bees }}" selected>{{ hive.bees }}</option>
                        <option value="Buckfast">Buckfast</option>
                        <option value="Welsh Black">Welsh Black</option>
                        <option value="Buzzy">Buzzy</option>
                        <option value="Scary">Scary</option>
                        <option value="Other">Other</option>
                    </select>
                    <label for="bees">Bees</label>
                </div>

                <!-- form buttons -->
                <div class="d-grid gap-2 gap-md-5 d-md-flex justify-content-center">
                    <button class="btn site-button-secondary px-5" type="reset">Cancel</button>
                    <button class="btn site-button-primary px-5" type="submit">Submit Update</button>
                </div>
            </form>
            <!-- return home -->
            <p class="mt-5 mb-3 text-body-secondary text-center">
                <a href="{{ url_for('hive_management', apiary='all') }}" class="">Return to Hives</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}