<!-- Generic page to be displayed in case of error -->

{% extends "base.html"%}

{% block header %}
<section id="error-page-header">
    <div class="parallax parallax-small banner-image-top sunflower">
        <div class="heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Oops!</h2>
            <br>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="error-page-container">
    <!-- ** ERROR ** -->
    <div class="container text-center">
        <br>
        <h3>We're sorry, something has gone wrong.</h3>
        <br>
        <!-- error message card -->
        <div class="card text-center">
            <div class="card-header">
                <i class="material-icons">info</i> The following error was raised by this application
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">The following error was raised by this application</h5> -->
                <p class="card-text">{{ error }}</p>
            </div>
            <div class="card-footer text-body-secondary">
                If you think it's important, please raise this with the site administrator.
                <br>
                But it probably isn't so just ignore it and continue enjoying your day. Cheers <i
                    class="material-icons">coffee</i>
            </div>
        </div>
        
        <br>
        <a href="{{ url_for('home') }}">Return home</a>
        <hr>
        <br>
    </div>

</section>

<section>
    <div class="parallax parallax-small banner-image-bottom sunflower"></div>
</section>

{% endblock %}