{% extends "base.html"%}

{% block header %}
<section id="hive-management-header">

    <div class="parallax parallax-small honeycomb">
        <div class="heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Hive Management</h2>
            <p class="lead">View All Hives</p>
            <br>
        </div>
        
    </div>
</section>
{% endblock %}

{% block content %}
<section id="hive-management-container">
    <div class="container">
        <div class="sub-heading">
                <h2 class="feature-icon"><i class="material-icons">hive</i> Hives for Beekeeper <em>{{ session["user"]|capitalize() }}</em></h2>
        </div>

        <!-- ** VIEW ALL HIVES ** -->
        {% if hives|length > 0 %}
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered hives-table">
                <thead>
                    <tr>
                        <th scope="col" hidden>ID</th>
                        <th scope="col">Apiary</th>
                        <th scope="col">Colony</th>
                        <th scope="col">Hive Type</th>
                        <th scope="col" class="d-none d-md-table-cell">Bees</th>
                        <th scope="col"><i class="material-icons">read_more</i></th>
                    </tr>
                </thead>
                
                <tbody class="table-group-divider">
                    {% for hive in hives %}
                    <tr id="{{ hive._id }}" class="selected-hive">
                        <td class="column0" hidden>{{ hive._id }}</td>
                        <td class="column1">{{ hive.apiary }}</td>
                        <td class="column2">{{ hive.colony }}</td>
                        <td class="column3">{{ hive.hiveType }}</td>
                        <td class="column4 d-none d-md-table-cell">{{ hive.bees }}</td>
                        <td class="column5 table-button">
                            {% if session.user|lower == hive.beekeeper|lower %}
                            <a href="{{ url_for('manage_hive', hive_id=hive._id)}}" class="btn site-button-small selected-inspection">
                                <i class="material-icons">read_more</i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <p ></p>
        </div>
        {% else %}
        <h3>No Hives Found</h3>
        {% endif %}
    </div>

    <!-- ** OPTION BUTTONS ** -->
    <div class="container">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn site-button-primary px-4 m-2 gap-3 option-button" href="{{ url_for('add_hive') }}" role="button">Add New Hive</a>        
        </div>  
    </div>
    
    <!-- TEMPORARY SECTION - for displaying selected row -->
    <div id="selected"> </div>

</section>
{% endblock %}