{% extends "base.html"%}

{% block header %}
<section id="hive_inspection-header">
    <div class="parallax parallax-small sunflower">
        <div class=" heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Hive Inspection</h2>
            <p class="lead">Record New Hive Inspection</p>
            <br>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="hive_inspection-container">

    <div class="container">
        <div class="sub-heading">
            <h2 class="feature-icon">
                <i class="material-icons">hive</i> Inspection of hive <strong>{{ hive.colony }}</strong>
                (in apiary <em>{{ hive.apiary }}</em>)
            </h2>
        </div>

        <!-- ** INSPECTION FORM ** -->
        <div class="form-hive-inspection">
            <form class="form-horizontal" method="POST" action="">

                <!-- Date of inspection -->
                <div class="row-10 align-items-center input-group">
                    <label for="inspectionDate" class="col-3 form-label">INSPECTION DATE</label>
                    <div class="col-6">
                        <input class="form-control" id="inspectionDate" name="inspectionDate" type="date" required />
                    </div>
                </div>
                <hr>

                <!-- Queen -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">QUEEN</label>
                    <div class="col-4 col-lg-3 form-check">
                        <input class="form-check-input" id="queenPresent" name="queenPresent" type="checkbox" role="checkbox"/>
                        <label class="form-check-label" for="queenPresent">Present?</label>
                    </div>
                    <div class="col-4 col-lg-3 form-check">
                        <input class="form-check-input" id="queenClipped" name="queenClipped" type="checkbox" role="checkbox"/>
                        <label class="form-check-label" for="queenClipped">Clipped?</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3">QUEEN CELLS</label>
                    <div class="col-1">
                        <input class="form-control" id="queenCellsSeen" name="queenCellsSeen" type="number" value="0" />
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="queenCellsSeen"># Seen</label>
                    </div>
                    <div class="col-1">
                        <input class="form-control" id="queenCellsRemoved" name="queenCellsRemoved" type="number" value="0" />
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="queenCellsRemoved"># Removed</label>
                    </div>
                </div>
                <hr>

                <!-- Brood -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">BROOD</label>
                    <div class="col-4 col-lg-3 form-check">
                        <input class="form-check-input" id="eggsSeen" name="eggsSeen" type="checkbox" role="checkbox" />
                        <label class="form-check-label" for="eggsSeen">Eggs Seen?</label>
                    </div>
                    <div class="col-5 col-lg-4 form-check">
                        <input class="form-check-input" id="broodSeen" name="broodSeen" type="checkbox" role="checkbox" />
                        <label class="form-check-label" for="broodSeen">Capped Brood?</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label"></label>
                    <div class="col-4 col-lg-3 form-check">
                        <input class="form-check-input" id="broodPattern" name="broodPattern" type="checkbox" role="checkbox" />
                        <label class="form-check-label" for="broodPattern">Brood Pattern OK?</label>
                    </div>
                    <div class="col-5 col-lg-4 form-check">
                        <input class="form-check-input" id="broodDrones" name="broodDrones" type="checkbox" role="checkbox" />
                        <label class="form-check-label" for="broodDrones">Drone Brood Present?</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label"></label>
                    <div class="col-2 col-lg-1">
                        <input class="form-control" id="broodFrames" name="broodFrames" type="number" value="0" step="0.25"/>
                    </div>
                    <div class="col-4 col-lg-3">
                        <label class="form-label" for="broodFrames"># Frames of Brood</label>
                    </div>
                    <div class="col-3 form-check">
                        <input class="form-check-input" id="noBrood" name="noBrood" type="checkbox" role="checkbox" />
                        <label class="form-check-label" for="noBrood">No Brood?</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3">ROOM</label>
                    <div class="col-1">
                        <input class="form-control" id="eggRoom" name="eggRoom" type="number" value="0" step="0.25"/>
                    </div>
                    <div class="col">
                        <label class="form-label" for="eggRoom">Available space for queen to lay eggs (# frames)</label>
                    </div>
                </div>
                <hr>

                <!-- Stores and Feed -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3">STORES</label>
                    <div class="col-1">
                        <input class="form-control" id="storesAvailable" name="storesAvailable" type="number" value="0" step="0.25"/>
                    </div>
                    <div class="col">
                        <label class="form-label" for="storesAvailable">Super stores available (# frames)</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3">FEED</label>
                    <div class="col-3 col-sm-2 col-lg-1">
                        <label class="col-4 col-md-3">Syrup</label>
                    </div>
                    <div class="col-2 col-md-1">
                        <input class="form-control" id="syrupAmount" name="syrupAmount" type="number" value="0" step="0.25"/>
                    </div>
                    <div class="col-1 col-md-1">
                        <label class="form-label" for="syrupAmount">Ltr</label>
                    </div>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="syrupType" id="syrupLS" value="LS">
                        <label class="form-check-label" for="syrupLS">LS</label>
                    </div>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="syrupType" id="syrupHS" value="HS">
                        <label class="form-check-label" for="syrupHS">HS</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3"></label>
                    <div class="col-3 col-sm-2 col-lg-1">
                        <label class="col-4 col-md-3">Fondant</label>
                    </div>
                    <div class="col-2 col-md-1">
                        <input class="form-control" id="fondantAmount" name="fondantAmount" type="number" value="0" step="0.25" />
                    </div>
                    <div class="col-1">
                        <label class="form-label" for="fondantAmount">Kg</label>
                    </div>
                </div>
                <hr>

                <!-- Colony Health -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">HIVE HEALTH</label>
                    <div class="form-check form-check-inline col-2">
                        <input class="form-check-input" type="radio" name="healthStatus" id="healthOK" value="OK">
                        <label class="form-check-label" for="healthOK">OK</label>
                    </div>
                    <div class="form-check form-check-inline col-3">
                        <input class="form-check-input" type="radio" name="healthStatus" id="healthConcern"
                            value="Concerned">
                        <label class="form-check-label" for="healthConcern">Concerned</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label"></label>
                    <div class="form-check col-2 col-lg-1">
                        <input class="form-check-input" id="healthCB" name="healthCB" type="checkbox" role="checkbox">
                        <label class="form-check-label" for="healthCB">CB</label>
                    </div>
                    <div class="form-check col-2 col-lg-1">
                        <input class="form-check-input" id="healthEFB" name="healthEFB" type="checkbox" role="checkbox">
                        <label class="form-check-label" for="healthEFB">EFB</label>
                    </div>
                    <div class="form-check col-2 col-lg-1">
                        <input class="form-check-input" id="healthAFB" name="healthAFB" type="checkbox" role="checkbox">
                        <label class="form-check-label" for="healthAFB">AFB</label>
                    </div>
                    <div class="form-check col-2 col-lg-1">
                        <input class="form-check-input" id="healthCBPV" name="healthCBPV" type="checkbox" role="checkbox">
                        <label class="form-check-label" for="healthCBPV">CBPV</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">VARROA</label>
                    <div class="col-9 varroa-rating">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="varroaLevel" id="varroaLow" value="low">
                            <label class="form-check-label" for="varroaLow">Low</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="varroaLevel" id="varroaMedium"
                                value="medium">
                            <label class="form-check-label" for="varroaMedium">Med.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="varroaLevel" id="varroaHigh"
                                value="high">
                            <label class="form-check-label" for="varroaHigh">High</label>
                        </div>
                    </div>

                    <div class="row-12 align-items-center input-group">
                        <label class="col-3 form-label"></label>
                        <div class="col-2 col-lg-1">
                            <input id="varroaPop" name="varroaPop" class="form-control" type="number" value="0000" step="1000" />
                        </div>
                        <div class="col">
                            <label for="varroaPop" class="form-label"> Population estimate </label>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Temper -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">TEMPER</label>
                    <!-- <div class="col-3">
                        <label for="colonyTemper" class="form-label">Docility of the colony</label>
                     </div> -->
                    <div class="col-8">
                        <input type="range" class="form-range custom-range" min="0" max="10" step="1" id="colonyTemper" name="colonyTemper">
                    </div>

                </div>

                <!-- Weather -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">WEATHER</label>
                    <div class="col-2">
                        <input id="temperature" name="temperature" class="form-control" type="text" placeholder="e.g. warm" />
                    </div>
                    <div class="col-2">
                        <label for="temperature" class="form-label">temp.</label>
                    </div>
                    <div class="col-2">
                        <input id="weather" name="weather" class="form-control" type="text" placeholder="e.g. sunny" />
                    </div>
                    <div class="col-2">
                        <label for="weather" class="form-label">weather</label>
                    </div>
                </div>

                <!-- Supers -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">SUPERS</label>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="supers" id="supersAdded" value="added">
                        <label class="form-check-label" for="supersAdded">+</label>
                    </div>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="supers" id="supersRemoved" value="removed">
                        <label class="form-check-label" for="supersRemoved">-</label>
                    </div>

                    <div class="col-2 col-md-1">
                        <input id="supersChange" name="supersChange" class="form-control" type="number" value="0" step="0.25" />
                    </div>
                    <div class="col-2">
                        <label for="supersChange" class="form-label">quantity</label>
                    </div>
                </div>

                <hr>

                <!--Inspection Notes -->
                <div>
                    <textarea class="form-control" id="inspectionNotes" name="inspectionNotes"
                        placeholder="Add additional observations and comments here" rows="5"></textarea>
                </div>

                <!-- Form Buttons -->
                <div class="d-grid gap-2 gap-md-5 d-md-flex justify-content-center">
                    <button class="btn site-button-secondary px-5" type="reset"><i class="material-icons">cancel</i> Clear Form</button>
                    <button class="btn site-button-primary px-5" type="submit"><i class="material-icons">add_box</i> Record Inspection</button>
                </div>

            </form>
            <!-- return home -->
            <p class="mt-5 mb-3 text-body-secondary text-center">
                <a href="{{ url_for('hive_management', apiary='all') }}" class="">Return to Hives</a>
            </p>
        </div>
    </div>

    <button onclick="disable_form()">disable</button>

</section>
{% endblock %}