{% extends "base.html"%}

{% block header %}
<section id="hive-management-header">

    <div class="parallax parallax-small honeycomb">
        <div class="container text-center text-white">
            <br><br>
            <h2 class="display-5 fw-bold">Hive Management</h2>
            <p class="lead">View All Hives</p>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="hive-management-container">
    <div class="container">
        <div class="sub-heading">
                <h2 class="feature-icon"><i class="material-icons">hive</i> Hives for Beekeeper <em>{{ session["user"]|capitalize() }}</em></h2>
        </div>

        <!-- ** VIEW ALL HIVES ** -->
        {% if hives|length > 0 %}
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered hives-table">
                <thead>
                    <tr>
                        <th scope="col" hidden>ID</th>
                        <th scope="col">Apiary</th>
                        <th scope="col">Reference</th>
                        <th scope="col">Hive Type</th>
                        <th scope="col">Bees</th>
                    </tr>
                </thead>
                
                <tbody class="table-group-divider">
                    {% for hive in hives %}
                    <tr>
                        <td hidden>{{ hive._id }}</td>
                        <td>{{ hive.apiary }}</td>
                        <td>{{ hive.reference }}</td>
                        <td>{{ hive.hiveType }}</td>
                        <td>{{ hive.bees }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            <p ></p>
        </div>
        {% else %}
        <h3>No Hives Found</h3>
        {% endif %}
    </div>

    <!-- ** OPTION BUTTONS ** -->
    <div class="container">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-secondary btn-sm px-4 gap-3 disabled" href="{{ url_for('placeholder') }}" role="button">Edit Hive</a>
            <a class="btn btn-primary btn-sm px-4 gap-3" href="{{ url_for('add_hive') }}" role="button">Add New Hive</a>
            <!-- 
            <a class="btn btn-secondary btn-sm px-4 gap-3 disabled" href="{{ url_for('placeholder') }}" role="button">View Inspection Report</a>
            <a class="btn btn-secondary btn-sm px-4 gap-3 disabled" href="{{ url_for('placeholder') }}" role="button">Record Inspection</a> 
        -->
            
        </div>  
    </div>
    
</section>
{% endblock %}