{% extends "base.html"%}

{% block header %}
<!-- ** PAGE BANNER ** -->
<section id="home-page-header">
  <div class="parallax parallax-large banner-image-top sunflower">
    <div class="heading-text-block">
      <br>
      <h1 class="display-5 fw-bold">Honey Bee</h1>
      <div class="container col-lg-6 mx-auto">
        <p class="lead mb-4">Resource for amateur beekeepers, mentors and anyone interested in learning more about
          beekeeping.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          {% if session.user %}
          <a class="btn site-button-small btn-sm px-4 gap-3" href="{{ url_for('apiary_management') }}" role="button"><i
              class="material-icons">local_florist</i> Manage Apiaries</a>
          <a class="btn site-button-small btn-sm px-4 gap-3" href="{{ url_for('hive_management', apiary='all') }}"
            role="button"><i class="material-icons">emoji_nature</i> Manage Hives</a>
          <a class="btn site-button-small btn-sm px-4 gap-3" href="{{ url_for('signout') }}" role="button"><i
              class="material-icons">logout</i> Sign Out</a>
          {% else %}
          <a class="btn site-button-small btn-sm px-4 gap-3" href="{{ url_for('signin') }}" role="button"><i
              class="material-icons">login</i> Sign In</a>
          <a class="btn site-button-small btn-sm px-4 gap-3" href="{{ url_for('register') }}" role="button"><i
              class="material-icons">account_circle</i> Register</a>
          {% endif %}
        </div>
      </div>
      <br>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<!-- ** FEATURES ** -->
<!-- inspired by Bootstrap 5.4 example 'Features: Columns with icons' -->
<section id="feature-section">

  <div class="container ">

    <div class="row g-4 py-5 row-cols-1 row-cols-md-3">

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="feature-icon"><i class="material-icons amber-dark">local_florist</i></h2>
          <h3 class="">Beekeepers</h3>
          <p class="light">Are you a beekeeper? If so, you can register here to access our online apiary management toolbox!
            Keep track of your hives and apiaries, and record hive inspections using our tool based on the 
            <a href="https://www.bbka.org.uk/" target="_blank">BBKA</a> Hive Record System, recording colony condition and 
            health as required for the Certificate in Beekeeping Husbandry.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="feature-icon"><i class="material-icons">hive</i></h2>
          <h3 class="">Learn About Bees</h3>
          <p class="light">If you're interested in honey bees and beekeeping, then you've come to the right place.
            Explore the site to learn more about honey bees, their lifecycle and roles. Learn about hives and honey
            production. And find out which plants are best to grow if you wnt to attract honey bees to your garden.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="feature-icon"><i class="material-icons amber-dark">emoji_nature</i></h2>
          <h3 class="">Bee Gallery</h3>
          <p class="light">Find out more about the bees in your area by exploring the GALLERY. See photos and read
            stories from amateur beekeepers to learn more about their work, what it takes to be a
            beekeeper and find out your local honey. You'll also get to meet the honey producers - the bees!</p>
        </div>
      </div>

    
    </div>
  </div>
</section>

<section>
  <div class="parallax parallax-small banner-image-bottom sunflower">
</section>
{% endblock %}