<!-- Temporary version of the 'learn about bees' page -->

{% extends "base.html"%}

{% block header %}
<section id="placeholder-header">
    <div class="parallax parallax-small banner-image-top hive-frame">
        <div class="heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Learn About Bees</h2>
            <p class="lead">
                Start exploring and learning about bees and beekeeping
            </p>
            <br>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="learn-container">
    <!-- ** PLACEHOLDER NOTICE ** -->
    <div class="">
        <br>
        <img class="rounded mx-auto d-block placeholder-img"
            src="{{ url_for('static', filename='img/beekeeper-scared.jpg') }}" alt="">
        <br>
    </div>


    <div>
        Official organisations (UK based)
        <ul>
            <li><a href="https://www.bbka.org.uk/" target="_blank">BBKA (British Beekeepers Association)</a></li>
            <li><a href="https://www.nationalbeeunit.com/" target="_blank">APHA National Bee Unit - BeeBase</a></li>
            <li><a href="https://bibba.com/" target="_blank">BIBBA (Bee Improvement and Bee Breeders Association)</a></li>
            <li><a href="https://www.beeswales.co.uk/Useful-Links" target="_blank">National Beekeeping Centre Wales</a></li>
            <li><a href="https://scottishbeekeepers.org.uk/" target="_blank">Scottish Beekeepers Association</a></li>
        </ul>
        Recommended information resources (just a selection)
        <ul>
            <li><a href="https://theapiarist.org/" target="_blank">The Apiarist</a></li>
            <li><a href="https://www.beelistener.co.uk/" target="_blank">The Bee Listener</a> </li>
            <li><a href="https://www.naturalbeekeepingtrust.org/" target="_blank">Natural Beekeeping Trust</a></li>
            
        </ul>
        Selection of suppliers (many more exist!)
        <ul>
            <li><a href="https://gwenyngruffydd.co.uk/" target="_blank">Gwenyn Gruffydd</a></li>
            <li><a href="https://www.blackmountainhoney.co.uk/" target="_blank">Black Mountain Honey</a></li>
            <li><a href="https://beekeeping.co.uk/" target="_blank">National Beekeeping Supplies</a></li>
            <li><a href="https://www.thorne.co.uk/" target="_blank">Thorne</a></li>
            <li><a href="https://simonthebeekeeper.co.uk/" target="_blank">Simon the Beekeeper</a></li>
        </ul>
        Days out
        <ul>
            <li><a href="https://www.afonmel.com/" target="_blank">Afon Mel</a></li>
            <li><a href="https://scoltonmanor.co.uk/explore-play-discover/beekeeping/" target="_blank">The Pembrokeshire Beekeeping Centre</a></li>
            <li><a href="https://thebeecentre.org/" target="_blank">The Bee Centre</a></li>
            <li><a href="https://www.secretgardenapiary.co.uk/" target="_blank">The Secret Garden Apiary</a></li>
        </ul>
        
    </div>
</section>

<section>
    <div class="parallax parallax-small banner-image-bottom hive-frame"></div>
</section>

{% endblock %}