{% extends "base.html"%}

{% block header %}
<section id="hive_inspection-header">
    <div class="parallax parallax-small sunflower">
        <div class=" heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Hive Inspection</h2>
            <p class="lead">View/Edit/Delete Hive Inspection</p>
            <br>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="hive_inspection-container">

    <div class="container">
        <div class="sub-heading">
            <h2 class="feature-icon">
                <i class="material-icons">hive</i> Record of hive inspection for <strong>{{ hive.colony }}</strong>
            </h2>
        </div>

        <!-- ** INSPECTION FORM ** -->
        <div class="form-hive-inspection">
            <form class="form-horizontal" method="POST" action="">

                <!-- Date of inspection -->
                <div class="row-10 align-items-center input-group">
                    <label for="inspectionDate" class="col-3 form-label">INSPECTION DATE</label>
                    <div class="col-6">
                        <input class="form-control" id="inspectionDate" name="inspectionDate" 
                            type="date" value="{{ inspection.inspectionDate }}" required disabled />
                    </div>
                </div>
                <hr>

                <!-- Queen -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">QUEEN</label>
                    <div class="col-4 col-lg-3 form-check">
                        <input class="form-check-input" id="queenPresent" name="queenPresent" 
                                type="checkbox" role="checkbox" disabled 
                                checked="{{ inspection.queenPresent }}"/>
                        <label class="form-check-label" for="queenPresent">Present?</label>
                    </div>
                    <div class="col-4 col-lg-3 form-check">
                        <input class="form-check-input" id="queenClipped" name="queenClipped" 
                            type="checkbox" role="checkbox" disabled
                            checked="{{ inspection.queenClipped }}"/>
                        <label class="form-check-label" for="queenClipped">Clipped?</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3">QUEEN CELLS</label>
                    <div class="col-1">
                        <input class="form-control" id="queenCellsSeen" name="queenCellsSeen" 
                            value="{{ inspection.queenCellsSeen }}" type="number" value="0" disabled/>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="queenCellsSeen"># Seen</label>
                    </div>
                    <div class="col-1">
                        <input class="form-control" id="queenCellsRemoved" name="queenCellsRemoved" 
                            value="{{ inspection.queenCellsRemoved }}" type="number" value="0" disabled/>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="queenCellsRemoved"># Removed</label>
                    </div>
                </div>
                <hr>

                <!-- Brood -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">BROOD</label>
                    <div class="col-4 col-lg-3 form-check">
                        <input class="form-check-input" id="eggsSeen" name="eggsSeen" 
                            checked="{{ inspection.eggsSeen }}" type="checkbox" role="checkbox" disabled/>
                        <label class="form-check-label" for="eggsSeen">Eggs Seen?</label>
                    </div>
                    <div class="col-5 col-lg-4 form-check">
                        <input class="form-check-input" id="broodSeen" name="broodSeen" 
                            checked="{{ inspection.broodSeen }}" type="checkbox" role="checkbox" disabled/>
                        <label class="form-check-label" for="broodSeen">Capped Brood?</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label"></label>
                    <div class="col-4 col-lg-3 form-check">
                        <input class="form-check-input" id="broodPattern" name="broodPattern" 
                            checked="{{ inspection.broodPattern }}" type="checkbox" role="checkbox" disabled/>
                        <label class="form-check-label" for="broodPattern">Brood Pattern OK?</label>
                    </div>
                    <div class="col-5 col-lg-4 form-check">
                        <input class="form-check-input" id="broodDrones" name="broodDrones" 
                            checked="{{ inspection.broodDrones }}" type="checkbox" role="checkbox"disabled />
                        <label class="form-check-label" for="broodDrones">Drone Brood Present?</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label"></label>
                    <div class="col-2 col-lg-1">
                        <input class="form-control" id="broodFrames" name="broodFrames" 
                            value="{{ inspection.broodFrames }}" type="number" value="0" disabled />
                    </div>
                    <div class="col-4 col-lg-3">
                        <label class="form-label" for="broodFrames"># Frames of Brood</label>
                    </div>
                    <div class="col-3 form-check">
                        <input class="form-check-input" id="noBrood" name="noBrood" 
                            checked="{{ inspection.noBrood }}" type="checkbox" role="checkbox" disabled />
                        <label class="form-check-label" for="noBrood">No Brood?</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3">ROOM</label>
                    <div class="col-1">
                        <input class="form-control" id="eggRoom" name="eggRoom" 
                            value="{{ inspection.eggRoom }}" type="number" value="0" disabled />
                    </div>
                    <div class="col">
                        <label class="form-label" for="eggRoom">Available space for queen to lay eggs (# frames)</label>
                    </div>
                </div>
                <hr>

                <!-- Stores and Feed -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3">STORES</label>
                    <div class="col-1">
                        <input class="form-control" id="storesAvailable" name="storesAvailable" 
                            value="{{ inspection.storesAvailable }}" type="number" value="0" disabled />
                    </div>
                    <div class="col">
                        <label class="form-label" for="storesAvailable">Super stores available (# frames)</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3">FEED</label>
                    <div class="col-3 col-sm-2 col-lg-1">
                        <label class="col-4 col-md-3">Syrup</label>
                    </div>
                    <div class="col-2 col-md-1">
                        <input class="form-control" id="syrupAmount" name="syrupAmount" 
                            value="{{ inspection.syrupAmount }}" type="number" value="0" disabled />
                    </div>
                    <div class="col-1 col-md-1">
                        <label class="form-label" for="syrupAmount">Ltr</label>
                    </div>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="syrupType" id="syrupLS" 
                            value="{{ inspection.syrupLS }}" disabled>
                        <label class="form-check-label" for="syrupLS">LS</label>
                    </div>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="syrupType" id="syrupHS" 
                            value="{{ inspection.syrupHS }}" disabled >
                        <label class="form-check-label" for="syrupHS">HS</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3"></label>
                    <div class="col-3 col-sm-2 col-lg-1">
                        <label class="col-4 col-md-3">Fondant</label>
                    </div>
                    <div class="col-2 col-md-1">
                        <input class="form-control" id="fondantAmount" name="fondantAmount" 
                            value="{{ inspection.fondantAmount }}" type="number" value="0" disabled />
                    </div>
                    <div class="col-1">
                        <label class="form-label" for="fondantAmount">Kg</label>
                    </div>
                </div>
                <hr>

                <!-- Colony Health -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">HIVE HEALTH</label>
                    <div class="form-check form-check-inline col-2">
                        <input class="form-check-input" type="radio" name="healthStatus" id="healthOK" 
                            value="{{ inspection.healthStatus }}" disabled >
                        <label class="form-check-label" for="healthOK">OK</label>
                    </div>
                    <div class="form-check form-check-inline col-3">
                        <input class="form-check-input" type="radio" name="healthStatus" id="healthConcern"
                            value="{{ inspection.healthConcern }}" disabled >
                        <label class="form-check-label" for="healthConcern">Concerned</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label"></label>
                    <div class="form-check col-2 col-lg-1">
                        <input class="form-check-input" id="healthCB" id="healthCB" 
                            checked="{{ inspection.healthCB }}" type="checkbox" role="checkbox" disabled>
                        <label class="form-check-label" for="healthCB">CB</label>
                    </div>
                    <div class="form-check col-2 col-lg-1">
                        <input class="form-check-input" id="healthEFB" id="healthEFB" 
                            checked="{{ inspection.healthEFB }}" type="checkbox" role="checkbox" disabled>
                        <label class="form-check-label" for="healthEFB">EFB</label>
                    </div>
                    <div class="form-check col-2 col-lg-1">
                        <input class="form-check-input" id="healthAFB" id="healthAFB" 
                            checked="{{ inspection.healthAFB }}" type="checkbox" role="checkbox" disabled>
                        <label class="form-check-label" for="healthAFB">AFB</label>
                    </div>
                    <div class="form-check col-2 col-lg-1">
                        <input class="form-check-input" id="healthCBPV" id="healthCBPV" 
                            checked="{{ inspection.healthCBPV }}" type="checkbox" role="checkbox" disabled>
                        <label class="form-check-label" for="healthCBPV">CBPV</label>
                    </div>
                </div>

                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">VARROA</label>
                    <div class="col-9 varroa-rating">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="varroaLevel" id="varroaLow" 
                                value="{{ inspection.varroaLow }}" disabled >
                            <label class="form-check-label" for="varroaLow">Low</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="varroaLevel" id="varroaMedium"
                                value="{{ inspection.varroaMedium }}" disabled>
                            <label class="form-check-label" for="varroaMedium">Med.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="varroaLevel" id="varroaHigh"
                                value="{{ inspection.varroaHigh }}" disabled>
                            <label class="form-check-label" for="varroaHigh">High</label>
                        </div>
                    </div>

                    <div class="row-12 align-items-center input-group">
                        <label class="col-3 form-label"></label>
                        <div class="col-2 col-lg-1">
                            <input id="varroaPop" class="form-control" type="number" 
                                value="{{ inspection.varroaPop }}" disabled />
                        </div>
                        <div class="col">
                            <label for="varroaPop" class="form-label"> Population estimate </label>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Temper -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">TEMPER</label>
                    <div class="col-8">
                        <input type="range" class="form-range custom-range" min="0" max="10" step="1" 
                        id="colonyTemper" name="colonyTemper" value="{{ inspection.colonyTemper }}" disabled>
                    </div>

                </div>

                <!-- Weather -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">WEATHER</label>
                    <div class="col-2">
                        <input class="form-control" id="temperature" name="temperature" type="text" 
                            placeholder="e.g. warm" value="{{ inspection.temperature }}" disabled/>
                    </div>
                    <div class="col-2">
                        <label for="temperature" class="form-label">temp.</label>
                    </div>
                    <div class="col-2">
                        <input class="form-control" id="weather" name="weather" type="text" 
                            placeholder="e.g. sunny" value="{{ inspection.weather }}" disabled/>
                    </div>
                    <div class="col-2">
                        <label for="weather" class="form-label">weather</label>
                    </div>


                </div>

                <!-- Supers -->
                <div class="row-12 align-items-center input-group">
                    <label class="col-3 form-label">SUPERS</label>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="supers" id="supersAdded" value="added">
                        <label class="form-check-label" for="supersAdded">+</label>
                    </div>
                    <div class="form-check form-check-inline col-1">
                        <input class="form-check-input" type="radio" name="supers" id="supersRemoved" value="removed">
                        <label class="form-check-label" for="supersRemoved">-</label>
                    </div>

                    <div class="col-2 col-md-1">
                        <input id="supersChange" class="form-control" type="number" 
                            value="{{ inspection.supersChange }}" disabled />
                    </div>
                    <div class="col-2">
                        <label for="supersChange" class="form-label">quantity</label>
                    </div>
                </div>

                <hr>

                <!--Inspection Notes -->
                <div>
                    <textarea class="form-control" id="inspectionNotes" name="inspectionNotes"
                        placeholder="Add additional observations and comments here" rows="5" disabled>
                        {{- inspection.inspectionNotes -}}
                    </textarea>
                </div>


                <!-- ** OPTION BUTTONS ** -->      
                <div class="container">
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <!-- <a class="btn site-button-primary px-4 m-2 gap-3 option-button" href="{{ url_for('hive_inspection', hive_id=hive._id) }}" role="button">Inspect Hive</a> -->
                        <a class="btn site-button-primary px-4 m-2 gap-3 option-button" onclick="inspectionRemoveReadOnly()" role="button">Edit Inspection</a>                    
                        <a class="btn site-button-primary px-4 m-2 gap-3 option-button" href="" role="button">Delete Inspection</a>
                    </div>  
                </div>
                <!-- <div class="container">
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn site-button-primary px-5 m-2 gap-3 option-button" href="{{ url_for('inspection_record', hive_id=hive._id)}}" role="button">Inspection Record</a>
                        <a class="btn site-button-primary px-5 m-2 gap-3 option-button" href="{{ url_for('hive_management', apiary='all')}}" role="button">View All Hives</a>
                    </div>  
                </div> -->

                <!-- form buttons -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a class="btn site-button-secondary px-4 gap-3 form-button" onclick="inspectionReadOnly()" role="button" hidden>Cancel</a>
                    <button class="btn site-button-primary px-5 gap-3 form-button" type="submit" hidden>Submit Update</button>
                </div>

            </form>
            <!-- return home -->
            <p class="mt-5 mb-3 text-body-secondary text-center">
                <a href="{{ url_for('inspection_record', hive_id=hive._id)}}" class="">Return to Inspections</a>
            </p>
        </div>
    </div>

</section>
{% endblock %}