{% extends "base.html"%}

{% block header %}
<section id="edit-apiary-header">
    <div class="parallax parallax-small sunflower">
        <div class=" heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Apiary Management</h2>
            <p class="lead">View/Edit/Delete Apiary</p>
            <br>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="edit-apiary-container">
    <!-- ** APIARY FORM ** -->
    <div class="container">
        <div class="sub-heading">
            <h2 class="feature-icon"><i class="material-icons">hive</i> Manage Single Apiary</h2>
        </div>

        <div class="form-update-apiary w-100 m-auto">
            <form method="POST" action="{{ url_for('manage_apiary', apiary_id=apiary._id) }}">

                <!-- apiary name -->
                <div class="form-floating">
                    <input id="apiary" name="apiary" class="form-control" minlength="1" maxlength="50" type="text"
                        value="{{ apiary.apiary }}" class="validate" required disabled>
                    <label for="apiary">Apiary</label>
                </div>

                <!-- description -->
                <div>
                    <textarea id="apiary-description" name="apiary-description" class="form-control" rows="5" disabled>
                        {{- apiary.description -}}
                    </textarea>
                </div>

                <!-- ** OPTION BUTTONS ** -->
                <div class="container">
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn site-button-primary px-4 m-2 gap-3 option-button" onclick="apiaryRemoveReadOnly()"
                            role="button">
                            <i class="material-icons">edit</i> Edit Apiary</a>
                        <a class="btn site-button-primary px-4 m-2 gap-3 option-button"
                            href="{{ url_for('delete_apiary', apiary_id=apiary._id)}}" role="button"><i
                                class="material-icons">delete</i> Delete Apiary</a>
                    </div>
                </div>

                <!-- form buttons -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a class="btn site-button-secondary px-4 gap-3 form-button" onclick="apiaryReadOnly()" role="button"
                        hidden><i class="material-icons">cancel</i> Cancel</a>
                    <button class="btn site-button-primary px-5 gap-3 form-button" type="submit" hidden><i
                            class="material-icons">add_box</i> Submit Update</button>
                </div>
            </form>

            <!-- go back -->
            <p class="mt-5 mb-3 text-body-secondary text-center">
                <a href="{{ url_for('apiary_management')}}">Return to Apiaries</a>
            </p>

        </div>
    </div>
</section>
{% endblock %}