<!-- Placeholder page to be displayed when final page not yet developed -->

{% extends "base.html"%}

{% block header %}
<section id="placeholder-header">
    <div class="parallax parallax-small banner-image-top sunflower">
        <div class="heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Sorry!</h2>
            <p class="lead">
                We're not ready yet <i class="material-icons">sentiment_dissatisfied</i>
            </p>
            <br>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="placeholder-container">
    <!-- ** PLACEHOLDER NOTICE ** -->
    <div class="">
        <br>
        <img class="rounded mx-auto d-block placeholder-img"
            src="{{ url_for('static', filename='img/beekeeper-scared.jpg') }}" alt="">
        <br>
    </div>

</section>

<section>
    <div class="parallax parallax-small banner-image-bottom sunflower">
</section>

{% endblock %}