{% extends "base.html"%}

{% block header %}
<section id="signin-header">
    <div class="parallax parallax-small honeycomb">
        <div class="heading-text-block">
            <br>
            <h2 class="display-5 fw-bold">Sign In</h2>
            <br>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="signin-container">
    <!-- ** LOG IN FORM ** -->
    <div class="form-signin w-100 m-auto">
        <form method="POST" action="{{ url_for('signin') }}">
            
            <!-- enter username -->
            <div class="form-floating">
                <input type="text" class="form-control validate" 
                    id="username" name="username" placeholder="username" 
                    minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9{5,15}]$" required>
                <label for="username">Username</label>
            </div>
                
            <!-- enter password -->
            <div class="form-floating">
                <input type="password" class="form-control validate" 
                    id="password" name="password" placeholder="Password"
                    minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9{5,15}]$" required>
                <label for="password">Password</label>
            </div>

            <!-- sign in button -->
            <button class="btn site-button-primary w-100 py-2" type="submit">
                Sign In
            </button>
            
            <!-- New user? Go to Register -->
            <p class="mt-5 mb-3 text-body-secondary text-center">
                    New Here?
                    <a href="{{ url_for('register') }}" class="">Register Account</a>
            </p>
        </form>
    </div>

</section>
{% endblock %}